<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">


<div layout:fragment="content">
  <div class="row mt-3">
    <div class="col">
      <div class="card">
        <div class="card-header">
          Name List
        </div>
        <div class="card-body">
          <h5 class="card-title">Name List</h5>

          <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
              </tr>
            </thead>

            <tbody>
            <tr th:each="dto:${TestResponseDTO}" >
              <th scope="row">[[${dto.name}]]</th>
              <th scope="row">[[${dto.age}]]</th>
            </tr>
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>

</div>

<script layout:fragment="script" th:inline="javascript">
  console.log("list.html script..........")
</script>