<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cih.shoppingmallcih.mappers.TimeMapper">
    <select id="getNow" resultType="string">
        select now()
    </select>
    <select id="getGuestBook" resultType="com.cih.shoppingmallcih.dto.test.GuestbookDTO">
        SELECT * FROM guestbook where gno = 1
    </select>

    <insert id="insert">
        insert into guestbook(content,title,writer,regDate,modDate)
        values( #{content}, #{title}, #{writer}, #{regDate},#{modDate})
    </insert>

    <select id="selectAll" resultType="com.cih.shoppingmallcih.domain.test.guestbook.GuestbookVO">
        select * from guestbook order by gno desc
    </select>

    <select id="selectOne" resultType="com.cih.shoppingmallcih.domain.test.guestbook.GuestbookVO">
        select * from guestbook where gno = #{gno}
    </select>

    <delete id="delete">
        delete from guestbook where gno = #{gno}
    </delete>
</mapper>